/*
 * @author Roy Arisse <roy@perfacilis.com>
 * @copyright (c) 2019, Perfacilis
 */
.input-group, .input-group-prepend, .input-group-append {
    display: flex;
}

.input-group {
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
}

.input-group > input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    margin-right: 0;
}

.input-group-prepend {
    margin-right: -1px;
    margin-top: 1px; /* match input  */
    margin-bottom: 1px; /* match input  */
}

.input-group-prepend > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-text {
    display: flex;
    background-color: #f5f5f5;
    border-radius: 3px;
    border: #7e8993 solid 1px;
    padding: 4px 8px;
}

.postbox .hndle:not(.ui-sortable-handle) {
    cursor: pointer;
}